<p><button id="autoscroll" class='btn btn-info'>Autoscroll</button></p>
<a class='btn' href="{% url cancel_deployment deploy.id %}">Cancel</a>

<script>
    $(document).ready(function () {
        var intervalID = setInterval(function() {
            $('#terminal-view').load("{% url deployment_log deploy.id%}");
        }, 1000)

        var stn;
        $("#autoscroll").click(function() {
            if (!$(this).hasClass('disabled')) {
                $(this).addClass('disabled');
                stn = setInterval('auto_scroll()', 1000);
            } else {
                $(this).removeClass('disabled');
                clearInterval(stn);
            }
        });
    });
    function auto_scroll() {
            $(document).scrollTop($(document).height());
    }
</script>