{% extends 'layout.html' %}

{% block title %}Welcome{% endblock %}

{% block nav %}
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="{{ url_for('main.index') }}">Aurora</a>

      <ul class="nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% if g.user.can('create_project') %}
              <li><a href="{{ url_for('projects.create') }}">Project</a></li>
            {% endif %}
            {% if g.user.can('create_stage') %}
              <li><a href="{{ url_for('stages.create') }}">Stage</a></li>
            {% endif %}
            {% if g.user.can('create_task') %}
              <li><a href="{{ url_for('tasks.create') }}">Task</a></li>
            {% endif %}
          </ul>
        </li>

        <li><a href="{{ url_for('stages.all') }}">Stages</a></li>
        <li><a href="{{ url_for('tasks.all') }}">Tasks</a></li>
      </ul>

      <ul class="nav pull-right">
        <li><a><i class="icon-user"></i> <strong>{{ g.user.username }}</strong></a></li>
        <li><a href="{{ url_for('notifications.table') }}"><i class="icon-exclamation-sign"></i> Notifications</a></li>
        <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block body %}
  <div class='container-fluid'>
    <div class="span3 sidebar center">
      <ul class='nav nav-list well'>
        {% if projects %}
          {% for project in projects %}
            <li>
              <a href="{{ url_for('projects.view', id=project.id) }}"><strong>{{ project.name }}</strong></a>
              {% if project.stages %}
                <ul>
                  {% for stage in project.stages %}
                    <li><a href="{{ url_for('stages.view', id=stage.id) }}">{{ stage.name }}</a></li>
                  {% endfor %}
                </ul>
              {% else %}
                <ul>
                  {% if g.user.can('create_stage') %}
                    <li><a href="{{ url_for('stages.create') }}">New stage</a></li>
                  {% endif %}
                </ul>
              {% endif %}
            </li>

            {% if not loop.last %}
              <li class="divider"></li>
            {% endif %}
          {% endfor %}
        {% else %}
          {% if g.user.can('create_project') %}
            <li><a href="{{ url_for('projects.create') }}"><strong>New project</strong></a></li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
    <div class="span10">
      {% block notifications %}
        <div id='notifications'>
          <ul class='unstyled'>
          </ul>
        </div>
      {% endblock %}

      {% block content %}
        {% if not deployments %}
          <h4 class='alert'>
            No available deployments.
          </h4>
        {% else %}
          <ul class='unstyled inline view-title'>
            <li><h1>Last deployments:</h1></li>
          </ul>

          <hr />

          <ul class='unstyled'>
            {% for deployment in deployments %}
              <li>
                <div class="alert alert-{{ deployment.bootstrap_status() }}">
                  <div class='row'>
                    <div class='span4'>
                      <a href="{{ url_for('deployments.view', id=deployment.id) }}">
                        <strong>#{{ deployment.id }} - {{ deployment.show_status() }}</strong>
                      </a>
                      <a href='{{ url_for('deployments.create', id=deployment.stage.id, clone=deployment.id) }}' title='Repeat'><i class='icon-repeat'></i></a>
                    </div>
                  </div>
                  <div class='row'>
                    <div class="span3">
                      <ul class='unstyled'>
                        <li>
                          <strong>Stage:</strong> <a href="{{ url_for('stages.view', id=deployment.stage.id) }}">{{ deployment.stage }}</a>
                        </li>
                        <li><strong>Branch:</strong> {{ deployment.branch }}</li>
                        <li>
                          <strong>Commit:</strong> {{ deployment.show_commit() }}
                        </li>
                      </ul>
                    </div>
                    <div class="span3">
                      <ul class='unstyled'>
                        <li><strong>Time:</strong>
                          {% if deployment.finished_at %}
                            {{ deployment.show_time() }}
                          {% endif %}
                        </li>
                        <li><strong>Started at:</strong> {{ deployment.started_at.strftime('%Y-%m-%d %H:%M:%S') }}</li>
                        <li><strong>Finished at:</strong>
                          {% if deployment.finished_at %}
                            {{ deployment.finished_at.strftime('%Y-%m-%d %H:%M:%S') }}
                          {% endif %}
                        </li>
                      </ul>
                    </div>    
                    <div class='span3'>
                      <ul class='unstyled'>
                        <li><strong>Tasks:</strong> {{ deployment.show_tasks_list()|safe }}</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='js/mustache.min.js') }}"></script>
  <script>
    $(function() {
      var notification_template = '<li>\
        <div class="alert alert-{{ '{{category}}' }}">\
          <button type="button" class="close" data-dismiss="alert">&times;</button>\
          {{ '{{message}}' }}\
        </div>\
      </li>';
      setInterval(function() {
        $.ajax({
          url:'{{ url_for('notifications.unseen') }}',
          type:'get',
          success: function(data){
            var notifications = $.parseJSON(data);
            for (var i = 0; i < notifications.length; i++) {
              var html = Mustache.to_html(notification_template, notifications[i]);
              var hiding_html = $(html).show(0).delay(4000).hide(0);
              $("#notifications").children('ul').append(hiding_html);
            }
          }
        });
      }, 5000);
    });
  </script>
{% endblock %}