{% extends 'layout.html' %}

{% block title %}Welcome{% endblock %}

{% block body %}
  <div class='container-fluid'>
    <div class="span4 sidebar center">
      <ul class='unstyled'>
        <li><a href="{{ url_for('main.index') }}" class='black'><h1>Aurora</h1></a></li>
        <hr />
        <li>Welcome, <strong>{{ g.user.username }}</strong>.</li>
        <li><a href="{{ url_for('main.logout') }}">Logout.</a></li>
      </ul>
      <hr />
      {% if projects %}
        <h3>Projects:</h3>
        <ul class='unstyled'>
          {% for project in projects %}
            <li><a href="{{ url_for('projects.view', project_id=project.id) }}">{{ project.name }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <h3>No projects</h3>
      {% endif %}
    </div>
    <div class="span10">
      {% block content %}
        {% if not projects %}
          <h4 class='alert'>
            No available projects.
            {% if g.user.is_an_admin() %}
              <a href='{{ url_for('projects.create') }}'>Try to create.</a>
            {% endif %}
          </h4>
        {% else %}
        {% endif %}
      {% endblock %}
    </div>
  </div>
{% endblock %}