{% extends 'layout.html' %}

{% block title %}Welcome{% endblock %}

{% block nav %}
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="{{ url_for('main.index') }}">Aurora</a>

      <ul class="nav">
        {% if g.user.can('create_project') %}
          <li><a href="{{ url_for('projects.create') }}">New project</a></li>
        {% endif %}
        {% if g.user.can('create_stage') %}
          <li><a href="{{ url_for('stages.create') }}">New stage</a></li>
        {% endif %}
      </ul>

      <ul class="nav pull-right">
        <li><a><i class="icon-user"></i> <strong>{{ g.user.username }}</strong></a></li>
        <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block body %}
  <div class='container-fluid'>
    <div class="span3 sidebar center">
      {% if projects %}
        <h3>Projects:</h3>
        <ul class='nav nav-list well'>
          {% for project in projects %}
            <li>
              <a href="{{ url_for('projects.view', project_id=project.id) }}"><strong>{{ project.name }}</strong></a>
              {% if project.stages %}
                <ul>
                  {% for stage in project.stages %}
                    <li><a href="{{ url_for('stages.view', stage_id=stage.id) }}">{{ stage.name }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>

            {% if not loop.last %}
              <li class="divider"></li>
            {% endif %}
          {% endfor %}
        </ul>
      {% else %}
        <h3>No projects</h3>
      {% endif %}
    </div>
    <div class="span10">
      {% block content %}
        {% if not projects %}
          <h4 class='alert'>
            No available projects.
          </h4>
        {% else %}
        {% endif %}
      {% endblock %}
    </div>
  </div>
{% endblock %}