{% import 'helpers/errors.html' as errors %}

{% extends 'layout.html' %}

{% block title %}Log in{% endblock %}

{% block body %}
  <div class="navbar text-center">
    <h1>Aurora</h1>
  </div>
  <div class="container">
    <form class="col-lg-4 col-offset-4 form-horizontal" action="" method="post" name="login" >
      <fieldset>
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.username.label(class="col-lg-3 control-label") }}
          <div class="col-lg-6">
            {{ form.username(class="form-control") }}

            {{ errors.show(form.username) }}
          </div>
        </div>

        <div class="form-group">
          {{ form.password.label(class="col-lg-3 control-label") }}
          <div class="col-lg-6">
            {{ form.password(class="form-control") }}

            {{ errors.show(form.password) }}

            <div class="checkbox">
              {{ form.remember_me.label }}
              {{ form.remember_me }}
            </div>

            <button type="submit" class="btn btn-default">Sign In</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}
