{% extends 'main/index.html' %}

{% block title %}Personal settings {% endblock %}

{% block content %}
  <ul class='unstyled inline view-title'>
    <li>
      <h1>Personal settings
      </h1>
    </li>
  </ul>

  <hr />

  <ul class='unstyled'>
    <li>
      <div>
        <h5>Desktop notifications:</h5>
        <div class='alert' id="notifications_message"></div>
        <button id="notifications_button" class='btn btn-mini'>Enable</button>
      </div>
      </li>
  </ul>

{% endblock %}

{% block js %}
  {{ super() }}

  <script>
    $(function () {
      function setup_notifications() {
        function set_notification(message, status) {
          $("#notifications_message").addClass("alert-" + status);
          $("#notifications_message").text(message);
          $("#notifications_message").show();
        }

        switch (notify.permissionLevel()) {
           case notify.PERMISSION_DENIED:
            set_notification("Notifications are denied.", 'error')
            break
          case notify.PERMISSION_GRANTED:
              set_notification("Notifications are allowed.", 'success')
            break
          case notify.PERMISSION_DEFAULT:
            $("#notifications_button").show();
            $("#notifications_button").click(function () {
              notify.requestPermission(function() {
                $("#notifications_button").hide();
                setup_notifications();
              });
            });
        }
      }
      setup_notifications();
    });
  </script>
{% endblock %}
