html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

#footer {
    background-color: #eee;
    height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.credit {
    margin: 20px 0;
}

.indent-bottom {
    padding-bottom: 30px;
}

.black {
    color: #000;
}

div.CodeMirror {
    border: 1px #000 solid;
    margin-bottom: 10px;
}

.pointer {
    cursor: pointer;
}

.bigger {
    font-size: 26px;
}

.arrows {
    padding: 15px;
}

.wider {
    width: 100%;
}

.small-width {
    width: 5%;
}

#actions a {
    display: none;
}

#notifications_message, #notifications_button {
    display: none;
}
