{% extends 'main/index.html' %}

{% block title %}Deploy | {{ stage }}{% endblock %}

{% block content %}
  <h1>Deploying stage: 
    {% if stage.project %}
      <a href="{{ url_for('projects.view', id=stage.project.id) }}">{{ stage.project.name }}</a> /
    {% endif %} {{ stage.name }}
  </h1>
  <hr />

  <form method='post' action=''>
    <div class='row'>
      <div class='span4 center'>
        <h4>Available tasks:</h4>
        <select name="available" id="available" multiple="multiple" size="10">
          {% for task in stage.tasks %}
            {% if (not parent_deployment) or task not in parent_deployment.tasks %}
              <option value="{{ task.id }}">{{ task.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>

      <div class='span1 center bigger'>
        <ul class='unstyled arrows' style='padding-top: 50px;'>
          <li class='pointer'><a id="add">&raquo;</a></li>
          <li>&nbsp;</li>
          <li class='pointer'><a id="remove">&laquo;</a></li>
        </ul>
      </div>

      <div class='span4 center'>
        <h4>Selected tasks:</h4>
        <select name="selected" id="selected" multiple="multiple" size="10">
          {% if parent_deployment %}
            {% for task in parent_deployment.tasks %}
              <option value="{{ task.id }}">{{ task.name }}</option>
            {% endfor %}
          {% endif %}
        </select>
      </div>

      <div class='span0 center bigger'>
        <ul class='unstyled arrows' style='padding-top: 50px;'>
          <li class='pointer'><a id="up">&uarr;</a></li>
          <li>&nbsp;</li>
          <li class='pointer'><a id="down">&darr;</a></li>
        </ul>
      </div>
    </div>

    {% if branch %}
      <div class='row'>
        <div class='span4 center'>
          <h4>Branch:</h4>
          <select name="branch" id="branches">
            {% for branch_item in stage.project.get_branches() %}
              <option value="{{ branch_item.name }}"
              {% if branch == branch_item %}
                selected
              {% endif %}
              >{{ branch_item.name }}</option>
            {% endfor %}
          </select>
        </div>

        <div class='span6 center'>
          <h4>Commit:</h4>
          <input type='hidden' id="commits" class='wider' name='commit' {% if parent_deployment %}value='{{ parent_deployment.commit }}'{% endif %} />
        </div>
      </div>
    {% endif %}

    <hr />

    <input type='submit' id="deploy" class='btn btn-primary' value="Deploy!" />

  </form>
{% endblock %}


{% block css %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/select2.css') }}" />
{% endblock %}

{% block js %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>

  <script>
    $(function() {
      // Init commits select
      $("#commits").select2({
        placeholder: "Select a commit",
        ajax: {
          url: "{{ url_for('projects.commits', id=stage.project.id) }}",
          dataType: 'json',
          quietMillis: 100,
          data: function (term, page) { // page is the one-based page number tracked by Select2
              return {
                  query: term, //search term
                  page_limit: 10, // page size
                  page: page, // page number
                  branch: $('#branches :selected').text() // selected branch
              };
          },
          results: function (data, page) {
              var more = (page * 10) < data.total; // whether or not there are more results available

              // notice we return the value of more so Select2 knows if more results can be loaded
              return {results: data.commits, more: more};
          }
        },
        {% if parent_deployment and parent_deployment.commit %}
          initSelection: function(element, callback) {
            var id = $(element).val();
            if (id !== "") {
                $.ajax("{{ url_for('projects.get_one_commit', id=stage.project.id, branch=branch.name, commit=parent_deployment.commit) }}").done(function(data) { callback(JSON.parse(data)); });
            }
          },
        {% endif %}
        formatResult: function(commit) {
          return commit.title;
        },
        formatSelection: function(commit) {
          return commit.title;
        }
      });
      // Form hook
      $("#deploy").click(function() {
        $("#selected option").each(function() {
          $(this).attr("selected", "selected"); 
        });
      });
      // From: http://www.designchemical.com/blog/index.php/jquery/change-order-multiple-select-lists-using-jquery/
      // Add button hook
      $("#add").click(function() {
        $('#available option:selected').each(function() {
          $('#selected').append("<option value='" + $(this).val() + "'>" + $(this).text() + "</option>");
          $(this).remove();
        });
      });
      // Remove button hook
      $("#remove").click(function() {
        $('#selected option:selected').each(function() {
          $('#available').append("<option value='" + $(this).val() + "'>" + $(this).text() + "</option>");
          $(this).remove();
        });
      });
      // Up button hook
      $('#up').click(function() {
        $('#selected option:selected').each( function() {
          var newPos = $('#selected option').index(this) - 1;
          if (newPos > -1) {
            $('#selected option').eq(newPos).before("<option value='"+$(this).val()+"' selected='selected'>"+$(this).text()+"</option>");
            $(this).remove();
          }
        });
      });
      // Down button hook
      $('#down').click(function() {
        var countOptions = $('#selected option').size();
        $('#selected option:selected').each(function() {
          var newPos = $('#selected option').index(this) + 1;
          if (newPos < countOptions) {
            $('#selected option').eq(newPos).after("<option value='"+$(this).val()+"' selected='selected'>"+$(this).text()+"</option>");
            $(this).remove();
          }
        });
      });
    });
  </script>
{% endblock %}