<div class="alert alert-{{ deployment.bootstrap_status() }}">
  <div class='row'>
    <div class='col-lg-4'>
      <a href="{{ url_for('deployments.view', id=deployment.id) }}">
        <strong>#{{ deployment.id }} - {{ deployment.show_status() }}</strong>
      </a>
      {% include 'deployments/deployment_actions.html' %}
    </div>
  </div>
  <div class='row'>
    <div class="col-lg-4">
      <ul class='list-unstyled'>
        <li>
          <strong>Stage:</strong> <a href="{{ url_for('stages.view', id=deployment.stage.id) }}">{{ deployment.stage }}</a>
        </li>
        <li><strong>Branch:</strong> {{ deployment.branch }}</li>
        <li>
          <strong>Commit:</strong> {{ deployment.show_commit() }}
        </li>
      </ul>
    </div>
    <div class="col-lg-4">
      <ul class='list-unstyled'>
        <li><strong>Duration:</strong>
          {% if deployment.finished_at %}
            {{ deployment.show_duration() }}
          {% endif %}
        </li>
        <li><strong>Started at:</strong> {{ deployment.started_at.strftime('%Y-%m-%d %H:%M:%S') }}</li>
        <li><strong>Finished at:</strong>
          {% if deployment.finished_at %}
            {{ deployment.finished_at.strftime('%Y-%m-%d %H:%M:%S') }}
          {% endif %}
        </li>
      </ul>
    </div>    
    <div class='col-lg-3'>
      <ul class='list-unstyled'>
        <li><strong>User:</strong> <a href="{{ url_for('users.view', id=deployment.user.id) }}">{{ deployment.user.username }}</a></li>
        <li><strong>Tasks:</strong> {{ deployment.show_tasks_list()|safe }}</li>
      </ul>
    </div>
  </div>
</div>