{% extends 'main/index.html' %}

{% block title %}#{{ deployment.id }} - {{ deployment.stage }} {% endblock %}

{% block content %}
  <ul class='list-unstyled list-inline'>
    <li>
      <h1>#{{ deployment.id }} -
          {% if deployment.stage.project %}
            <a href="{{ url_for('projects.view', id=deployment.stage.project.id) }}">{{ deployment.stage.project.name }}</a> /
          {% endif %} <a href="{{ url_for('stages.view', id=deployment.stage.id) }}">{{ deployment.stage.name }}</a>
      </h1>
    </li>
    <li><h3>- <span id="deployment_status">{{ deployment.show_status() }}</span></h3></li>
  </ul>

  <hr />

  <div class='well'>
    <div class='row'>
      <div class='col-lg-2'>
        <ul class='list-unstyled'>
          <li>
            <strong>Actions:</strong>
            {% include 'deployments/deployment_actions.html' %}
          </li>
        </ul>
      </div>
    </div>
    <div class='row'>
      <div class="col-lg-3">
        <ul class='list-unstyled'>
          <li>
            <strong>Code:</strong> <a href="{{ url_for('deployments.raw_code', id=deployment.id) }}">Raw</a>
          </li>
          <li><strong>Branch:</strong> {{ deployment.branch }}</li>
          <li>
            <strong>Commit:</strong> {{ deployment.show_commit() }}
          </li>
        </ul>
      </div>
      <div class='col-lg-4'>
        <ul class='list-unstyled'>
          <li><strong>Duration:</strong>
            {% if deployment.finished_at %}
              {{ deployment.show_duration() }}
            {% endif %}
          </li>
          <li><strong>Started at:</strong> {{ deployment.started_at.strftime('%Y-%m-%d %H:%M:%S') }}</li>
          <li><strong>Finished at:</strong>
            {% if deployment.finished_at %}
              {{ deployment.finished_at.strftime('%Y-%m-%d %H:%M:%S') }}
            {% endif %}
          </li>
        </ul>
      </div>
      <div class='col-lg-3'>
        <ul class='list-unstyled'>
          <li><strong>User:</strong> <a href="{{ url_for('users.view', id=deployment.user.id) }}">{{ deployment.user.username }}</a></li>
          <li><strong>Tasks:</strong> {{ deployment.show_tasks_list()|safe }}</li>
        </ul>
      </div>
    </div>
  </div>

  <p><strong>Log:</strong>
    {% if not deployment.log %}
      <button id='follow' class='btn btn-default btn-small'>Follow</button>
    {% endif %}
  </p>
  <div id="log" class='well' style='height: 300px; overflow: auto'>
    <ul class='list-unstyled'>
      {% if not deployment.is_running() %}
        {% for line in deployment.get_log_lines() %}
          <li>{{ line }}</li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
{% endblock %}

{% block js %}
  {{ super() }}

  <script>
    {% if deployment.is_running() %}
      $(function () {
        var follow = false;
        $("#follow").click(function() {
          if (follow) {
            $("#follow").text('Follow');
            follow = false;
          } else {
            $("#follow").text('Unfollow');
            follow = true;
          }
        });

        var eventSource = new EventSource("{{ url_for('deployments.log', id=deployment.id) }}");
        eventSource.addEventListener("message",  function(e) {
          var data = $.parseJSON(e.data);
          var log = $("#log");

          if (data.message) {
            log.find('ul').append("<li>" + data.message + "</li>");
          }

          if (follow) {
            log.scrollTop(log[0].scrollHeight);
          }

          if (data.event && data.event == "finished") {
            $("#deployment_status").text(data.status);
            $("#cancel_deployment_button").hide();
            $("#follow").hide();
            eventSource.close();
          }
        });
      });
    {% endif %}
  </script>
{% endblock %}
