{% extends "base.html" %} 
{% load settings_tag %}
{% load action_button_tag%}
    {% block title %} - project {{ p.name }}{% endblock %}     
    {% block content %}    
    <div class="span8">            
        <h2>Project {{ p.name }}</h2>
        <dl class="dl-horizontal">
            <dt>Description: </dt>
            <dd>{{p.description}}</dd>
            <dt>#Deployments:</dt>
            <dd>&nbsp;{{p.dep_count}}</dd>
            <dt>Stages: </dt>
            <dd>
                {% for s in stages %}
                    <a href="{%url 'stage' s.id%}">{{s.name}}</a><br>                    
                {% endfor%}
            </dd>
        </dl>        
        <br>
        <hr>                
            <h3>Settings</h3><br/>
                {% show_project_settings p%}                                    
                <hr>
                <br>
            
            <h3>Stages</h3><br/>
            <table class="table table-bordered table-striped">
                <thead>
                  <tr>                    
                    <th>Name</th>                    
                    <th>Deployments</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                    {% for s in stages %}            
                      <tr>                        
                        <td>{{ s.name }}</td>
                        <td>{{ s.deployment_sum }}</td>                        
                        <td>
                           {% show_action_button s %}
                        </td>
                      </tr>                 
                    {% endfor%}
                </tbody>
            </table>            

            <hr>
            <h3>Recent deployments</h3><br/>
                {% for d in deps %}                
                    <div class="alert {{d.css}}">
                        <h3>{{d.status}}</h3>
                        <div class="span2">
                            <b>Stage: </b> {{d.stage.name}}<br/>
                            <b>Task: </b> {{d.task}}
                        </div>
                        <div class="span2">
                            <b>Rev: </b> {{d.revision}}<br/>
                            <b>Branch: </b> {{d.branch}}
                        </div>
                        <div>
                            <b>Started at: </b>{{d.started_at}}<br/>
                            <b>Finished at: </b>{{d.finished_at}}
                        </div>                        
                    </div>
                {% endfor%}
        </div>    
    {% endblock %}

