{% extends "base.html" %} 
{% load settings_tag %}
{% load action_button_tag%}
    {% block title %} - project {{ p.name }}{% endblock %}     
    {% block content %}    
        <h2>Project {{ p.name }}</h2> 
        <div class="span8">            
            {% show_project_settings p%}        
            <hr>
            <h3>Project stages</h3><br/>
            <table class="table table-bordered table-striped">
                <thead>
                  <tr>                    
                    <th>Name</th>                    
                    <th>Deployments</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                    {% for s in stages %}            
                      <tr>                        
                        <td>{{ s.name }}</td>
                        <td>{{ s.deployment_sum }}</td>                        
                        <td>
                           {% show_action_button s %}
                        </td>
                      </tr>                 
                    {% endfor%}
                </tbody>
            </table>            
        </div>    
    {% endblock %}

