{% extends "base.html" %}
{% block content %}
<div class="span8">
    <h2>Deployment {{ deploy_id }}</h2>

    <div id="terminal-view">
    </div>

    <p><button id="autoscroll" class='btn btn-info'>Autoscroll</button></p>
    <form id="terminal-form" action="{% url send_to_deployment deploy.id %}" method="POST">
    {%csrf_token%}
    <p><input type='text' id="terminal-message" name='message'></p>
    <p><input type='button' class='btn' value='Send' id="send_button"></p>
    </form>

    <script>
        $(document).ready(function () {
            $('#terminal-view').load("{% url deployment_log deploy.id%}");

            setInterval(function() {
                $('#terminal-view').load("{% url deployment_log deploy.id%}");
            }, 1000)

            $("#send_button").click(function() {
                $.ajax({
                        type: 'POST',
                        url: "{% url send_to_deployment deploy.id %}",
                        data: $('#terminal-form').serialize()
                    });
                $("#terminal-message").val("");
            });

            var stn;
            $("#autoscroll").click(function() {
                if (!$(this).hasClass('disabled')) {
                    $(this).addClass('disabled');
                    stn = setInterval('auto_scroll()', 1000);
                } else {
                    $(this).removeClass('disabled');
                    clearInterval(stn);
                }
            });
        });
        function auto_scroll() {
                $(document).scrollTop($(document).height());
        }
    </script>
</div>
{% endblock %}