{% import 'helpers/errors.html' as errors %}

<form method="post" action="">
  <fieldset>
    {{ form.hidden_tag() }}

    <div class="form-group">
      {{ form.name.label }}
      {{ form.name(class="form-control") }}

      {{ errors.show(form.name) }}
    </div>

    <div class="form-group">
      {{ form.code.label }}
      {{ form.code(class="form-control") }}

      {{ errors.show(form.code) }}
    </div>

    <div class="form-group">
      {{ form.stages.label }}
      {{ form.stages(class="form-control") }}

      {{ errors.show(form.stages) }}
    </div>

    <button class='btn btn-default'>Submit</button>
  </fieldset>
</form>

{% include 'helpers/codemirror.html' %}
