{% extends 'main/index.html' %}

{% block title %}{{ task.name }}{% endblock %}

{% block content %}
  <ul class='unstyled inline view-title'>
    <li><h1>{{ task.name }}</h1></li>
    {% if g.user.can('edit_task') %}
      <li><a href="{{ url_for('tasks.edit', id=task.id) }}">Edit</a></li>
    {% endif %}
    {% if g.user.can('delete_task') %}
      <li><a id="delete">Delete</a></li>
    {% endif %}
  </ul>

  <hr />

  <div class='alert alert-info'>
    <p><strong>Code:</strong></p>
    <pre><code lang="python">{{ task.code }}</code></pre>
  </div>

  <ul class='unstyled inline'>
    <li><h4>Stages</h4></li>
  </ul>

  {% if task.stages %}
    <ul>
      {% for stage in task.stages %}
        <li><a href="{{ url_for('stages.view', id=stage.id) }}">{{ stage }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p class='alert'>
      No available stages.
    </p>
  {% endif %}
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>

  <script>
    $(function() {
      $("#delete").click(function() {
        bootbox.confirm("Are you sure?", function(result) {
          if (result) {
            document.location.href = "{{ url_for('tasks.delete', id=task.id) }}";
          }
        }); 
      });
    });
  </script>
{% endblock %}
