{% extends 'main/index.html' %}

{% block title %}Create a new project{% endblock %}

{% block content %}
  <h3>Create a new project</h3>
  <form method="post" action="" name="create_project">
    {{ form.hidden_tag() }}

    <ul class='unstyled'>
      <li>{{ form.name.label }}</li>
      <li>{{ form.name(required='') }}</li>

      <li>{{ form.description.label }}</li>
      <li>{{ form.description }}</li>

      <li>{{ form.repo_path.label }}</li>
      <li>{{ form.repo_path }}</li>

      <li><button class='btn btn-primary'>Submit</button></li>
    </ul>
  </form>
{% endblock %}
