{% import 'helpers/errors.html' as errors %}

<form method="post" action="">
  {{ form.hidden_tag() }}

  <ul class='unstyled'>
    <li>{{ form.name.label }}</li>
    <li>{{ form.name }}</li>

    {{ errors.show(form.name) }}

    <li>{{ form.description.label }}</li>
    <li>{{ form.description(class='input-xlarge') }}</li>

    {{ errors.show(form.description) }}

    <li>{{ form.repo_path.label }}</li>
    <li>{{ form.repo_path(class='input-xlarge') }}</li>

    {{ errors.show(form.repo_path) }}

    <li>{{ form.code.label }}</li>
    <li>{{ form.code }}</li>

    {{ errors.show(form.code) }}

    <li>{{ form.stages.label }}</li>
    <li>{{ form.stages }}</li>

    {{ errors.show(form.stages) }}

    <li><button class='btn btn-primary'>Submit</button></li>
  </ul>
</form>

{% include 'helpers/codemirror.html' %}
