{% extends 'main/index.html' %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
  <ul class='unstyled inline view-title'>
    <li><h1>{{ project.name }}</h1></li>
    {% if g.user.can('edit_project') %}
      <li><a href="{{ url_for('projects.edit', id=project.id) }}">Edit</a></li>
    {% endif %}
    {% if g.user.can('delete_project') %}
      <li><a id="delete">Delete</a></li>
    {% endif %}
  </ul>

  <hr />

  <div class='alert alert-info'>
    <p><strong>Description:</strong> {{ project.description }}</p>
    <p><strong>Repository path:</strong> {{ project.repository_path }}
      <span id="actions">
        <a data-action="clone_repository" data-toggle='tooltip' data-placement='top' data-original-title="Clone repository"><i class='icon-download-alt'></i></a>
        <a data-action="remove_repository" data-toggle='tooltip' data-placement='top' data-original-title="Remove repository"><i class='icon-remove'></i></a>
      </span>
    </p>
    <p><strong>Code:</strong></p>
    <pre><code lang="python">{{ project.code }}</code></pre>
  </div>

  <ul class='unstyled inline'>
    <li><h4>Stages</h4></li>
    {% if g.user.can('create_stage') %}
      <li><a href="{{ url_for('stages.create', project_id=project.id) }}">New</a></li>
    {% endif %}
  </ul>

  {% if project.stages %}
    <ul>
      {% for stage in project.stages %}
        <li><a href="{{ url_for('stages.view', id=stage.id) }}">{{ stage.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p class='alert'>
      No available stages.
    </p>
  {% endif %}
{% endblock %}

{% block js %}
  {{ super() }}

  <script src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>

  <script>
    $(function() {
      // Enable actions tooltips
      $('#actions').tooltip({
        selector: "a[data-toggle=tooltip]"
      });
      // Show available actions
      {% if project.repository_folder_exists() %}
        $("#actions a[data-action='remove_repository']").show();
      {% else %}
        {% if project.repository_path %}
          $("#actions a[data-action='clone_repository']").show();
        {% endif %}
      {% endif %}
      // Actions hook
      $("#actions a[data-action]").click(function() {
        var _this = $(this);
        var icon = $(this).find('i').attr('class');
        var action = $(this).data('action');

        // Show refresh icon
        $(this).find('i').attr('class', 'icon-refresh');

        $.ajax({
          url:'{{ url_for('projects.execute', id=project.id) }}',
          data: {'action': action},
          type:'post',
          success: function(data) {
            // Return old icon
            $(_this).find('i').attr('class', icon);

            var result = $.parseJSON(data);
            if (!result.error) {
              $(_this).hide();
              // Actions after result
              if (action == 'clone_repository') {
                // Show 'remove_repository' button.
                $("#actions a[data-action='remove_repository']").show();
              }
              if (action == 'remove_repository') {
                // Show 'clone_repository' button.
                $("#actions a[data-action='clone_repository']").show();
              }
            }
          }
        });
      });
      // Delete button hook
      $("#delete").click(function() {
        bootbox.confirm("Are you sure?<br />All stages will be removed.", function(result) {
          if (result) {
            document.location.href = "{{ url_for('projects.delete', id=project.id) }}";
          }
        }); 
      });
    });
  </script>
{% endblock %}
