{% extends 'main/index.html' %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
  <ul class='unstyled inline view-title'>
    <li><h1>{{ project.name }}</h1></li>
    {% if g.user.can('edit_project') %}
      <li><a href="{{ url_for('projects.edit', id=project.id) }}">Edit</a></li>
    {% endif %}
    {% if g.user.can('delete_project') %}
      <li><a id="delete">Delete</a></li>
    {% endif %}
  </ul>

  <hr />

  <div class='alert alert-info'>
    <p><strong>Description:</strong> {{ project.description }}</p>
    <p><strong>Git repo's path:</strong> {{ project.repo_path }}</p>
  </div>

  <ul class='unstyled inline'>
    <li><h4>Stages</h4></li>
    <li>
      {% if g.user.can('create_stage') %}
        <a href="{{ url_for('stages.create', project_id=project.id) }}">Create</a>
      {% endif %}
    </li>
  </ul>

  {% if project.stages %}
    <ul>
      {% for stage in project.stages %}
        <li><a href="{{ url_for('stages.view', id=stage.id) }}">{{ stage.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p class='alert'>
      No available stages.
    </p>
  {% endif %}
{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>

  <script>
    $(function() {
      $("#delete").click(function() {
        bootbox.confirm("Are you sure?<br />All stages will be removed.", function(result) {
          if (result) {
            document.location.href = "{{ url_for('projects.delete', id=project.id) }}";
          }
        }); 
      });
    });
  </script>
{% endblock %}
