{% extends 'main/index.html' %}

{% block title %}Stages{% endblock %}

{% block content %}
  <ul class='list-unstyled list-inline'>
    <li><h1>Stages</h1></li>
    {% if g.user.can('create_stage') %}
      <li><a href="{{ url_for('stages.create') }}">New</a></li>
    {% endif %}
  </ul>

  <hr />

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Project</th>
      </tr>
    </thead>
    <tbody>
      {% for stage in stages %}
          <tr>
            <td><a href="{{ url_for('stages.view', id=stage.id) }}">{{ stage.name }}</a></td>
            <td>
              {% if stage.project %}
                <ul class="list-unstyled">
                  <li><a href="{{ url_for('projects.view', id=stage.project.id) }}">{{ stage.project }}</a></li>
                </ul>
              {% else %}
                No available project.
              {% endif %}
            </td>
            <td class="small-width"><a href="{{ url_for('stages.edit', id=stage.id) }}">Edit</a></td>
            <td class="small-width"><a href="{{ url_for('stages.delete', id=stage.id, next=url_for('stages.all')) }}" class='delete'>Delete</a></td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block js %}
  {{ super() }}

  <script src="{{ url_for('static', filename='aurora/js/delete_handler.js') }}"></script>
{% endblock %}