{% extends 'main/index.html' %}

{% block title %}{{ stage.name }} : {{ stage.project.name }}{% endblock %}

{% block content %}
  <ul class='unstyled inline view-title'>
    <li>
      <h1>
        <a href="{{ url_for('projects.view', id=stage.project.id) }}">{{ stage.project.name }}</a> / {{ stage.name }}
      </h1>
    </li>
    {% if g.user.can('edit_stage') %}
      <li><a href="{{ url_for('stages.edit', id=stage.id) }}">Edit</a></li>
    {% endif %}
    {% if g.user.can('delete_stage') %}
      <li><a id="delete">Delete</a></li>
    {% endif %}
  </ul>

  <hr />

  <div class='alert alert-info'>
    <p><strong>Code:</strong></p>
    <pre><code lang="python">{{ stage.code }}</code></pre>
  </div>

  <ul class='unstyled inline'>
    <li><h4>Tasks</h4></li>
    <li>
      {% if g.user.can('create_task') %}
        <a href="{{ url_for('tasks.create', stage_id=stage.id) }}">Create</a>
      {% endif %}
    </li>
  </ul>

  {% if stage.tasks %}
    <ul>
      {% for task in stage.tasks %}
        <li><a href="{{ url_for('tasks.view', id=task.id) }}">{{ task.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p class='alert'>
      No available tasks.
    </p>
  {% endif %}

{% endblock %}

{% block js %}
  <script src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>

  <script>
    $(document).ready(function() {
      $("#delete").click(function() {
        bootbox.confirm("Are you sure?", function(result) {
          if (result) {
            document.location.href = "{{ url_for('stages.delete', id=stage.id) }}";
          }
        }); 
      });
    });
  </script>
{% endblock %}