{% extends 'layout.html' %}

{% block title %}Welcome{% endblock %}

{% block nav %}
  <div class="navbar">
      <a class="navbar-brand" href="{{ url_for('frontend.index') }}">Aurora</a>

      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('projects.all') }}">Projects</a></li>
        <li><a href="{{ url_for('stages.all') }}">Stages</a></li>
        <li><a href="{{ url_for('tasks.all') }}">Tasks</a></li>
        <li><a href="{{ url_for('users.all') }}">Users</a></li>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <li><a href="{{ url_for('users.view', id=g.user.id) }}"><img src="{{ g.user.email | gravatar(size=16) }}" title="{{ g.user.username }}" /> <strong>{{ g.user.username }}</strong></a></li>
        <li><a href="{{ url_for('notifications.all') }}"><i class="glyphicon glyphicon-exclamation-sign"></i> Notifications</a></li>
        <li><a href="{{ url_for('frontend.logout') }}"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
      </ul>
  </div>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row indent-bottom">
      <div class="col-lg-3 text-center">
        <ul class='nav nav-pills nav-stacked well'>
          {% if projects %}
            {% for project in projects %}
              <li>
                <a href="{{ url_for('projects.view', id=project.id) }}"><strong>{{ project.name }}</strong></a>
                {% if project.stages %}
                  <ul>
                    {% for stage in project.stages %}
                      <li><a href="{{ url_for('stages.view', id=stage.id) }}">{{ stage.name }}</a></li>
                    {% endfor %}
                  </ul>
                {% else %}
                  <ul>
                    {% if g.user.can('create_stage') %}
                      <li><a href="{{ url_for('stages.create', project_id=project.id) }}">New stage</a></li>
                    {% endif %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          {% else %}
            {% if g.user.can('create_project') %}
              <li><a href="{{ url_for('projects.create') }}"><strong>New project</strong></a></li>
            {% endif %}
          {% endif %}
        </ul>
      </div>
      <div class="col-lg-9">
        {% block notifications %}
          <div id='notifications'>
            <ul class='list-unstyled'>
            </ul>
          </div>
        {% endblock %}

        {% block content %}
          {% if not deployments %}
            <h4 class='alert'>
              No available deployments.
            </h4>
          {% else %}
            <ul class='list-unstyled list-inline'>
              <li><h1>Last deployments</h1></li>
            </ul>

            <hr />

            <ul class='list-unstyled'>
              {% for deployment in deployments %}
                <li>{% include 'deployments/deployment.html' %}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  {{ super() }}

  <script src="{{ url_for('static', filename='mustache/mustache.js') }}"></script>
  <script src="{{ url_for('static', filename='eventsource/eventsource.js') }}"></script>
  <script>
    $(function () {
      /* Hooks */
      $("#cancel_deployment_button").click(function() {
        var id = $(this).data('id');
        $.ajax({
          url: '{{ url_for('deployments.cancel') }}',
          type: 'POST',
          data: {'id': id}
        });
      });

      /* Notifications settings */
      var notification_template = '<li>\
        <div class="alert alert-{{ '{{category}}' }}">\
          <button type="button" class="close" data-dismiss="alert">&times;</button>\
          {{ '{{message}}' }}\
        </div>\
      </li>';
      var notification_timeout = 4000;

      var eventSource = new EventSource("{{ url_for('notifications.unseen') }}");
      eventSource.onmessage = function(e) {
        var notification = $.parseJSON(e.data);
        var html = Mustache.to_html(notification_template, notification);
        var hiding_html = $(html).show(0).delay(notification_timeout).hide(0);
        $("#notifications").children('ul').append(hiding_html);
      }
    });
  </script>
{% endblock %}