{% extends "base.html" %}
{% load url from future %}
{% block content %}
    {% if form.errors %}
        <h2>Your username and password didn't match. Please try again.</h2>
    {% else%}
        <h2>You should login first</h2>
    {% endif %}
    <form method="post" action="{% url 'login' %}" class="form-horizontal">
      {% csrf_token %}
      <label>Login:</label>{{ form.username }}              
      <label>Password:</label>{{ form.password }}<hr>
      <button type="submit" class="btn btn-primary">Log in</button>
      <input type="hidden" name="next" value="{{ next }}" />              
    </form>
{% endblock %}

