<!doctype html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} | Aurora</title>
    
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    {% block css %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

  </head>

  <body>
    {% block nav %}
    {% endblock %}

    {% block body %}
    {% endblock %}
  </body>

  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/desktop-notify-min.js') }}"></script>
  {% block js %}
  {% endblock %}

  {% block footer %}
  {% endblock %}
</html>